<header>
  <h1><%= h1 %></h1>
  <nav>
    <a href="/"> Inicio </a>
    <a href="/about"> About</a>
    <a href="/contacto">Contacto</a>
    <a href="/upload/form">Upload</a>
    <a href="/productos"> Productos</a>
    <a href="/usuarios">Usuarios</a>
    <a href="/productos/create">+ Nuevo Producto</a>
    <a href="/usuarios/create">+ Nuevo Usuario</a>
  </nav>
  <hr />
</header>
